/* //TODO:
Look up how to change this to class names to up the specificity. When I tried last, the styles were not applied despite importing just fine. Used class name .progress-view instead of ul */
/* using snake casing to make ProgressView.js easier to work with */
.progressView {
  width: 800px;
  margin: 0 auto;
}

.soundCard {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: grey;
  margin: 10px;
  padding: 10px 0;
  border-radius: 25px;
}

/* progress-bar total*/
.progressBarTotal {
  width: 90%;
  height: 10px;
  background-color: white;
  margin: 0;
  padding: 0;
  /* x, y, blur/spread, color */
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
}

/* progress bar completed */
.progressBarCompleted {
  background-color: green;
  height: 10px;
  width: 30%;
  box-shadow: none;
  /* TL TR BR BL */
  border-radius: 5px 0px 0px 5px;
}

/* content section below progress bar */
.soundContent {
  /* border: 2px dashed red; */
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.soundContent h2 {
  /* border: 2px dashed green; */
  width: 100%;
  /* wrap sound title if too long */
  display: flex;
  flex-wrap: wrap;
}

.soundContent p {
  /* border: 2px dashed yellow; */
  width: 100%;
}

.tipsContainer {
  width: 100%;
}
