.App {
  margin: 4vh auto;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  max-width: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1,
.App h2,
.App h3 {
  font-family: "Sedgwick Ave Display", cursive;
}

.App h1 {
  font-size: 2.4rem;
}

.App h2 {
  font-size: 1.8rem;
}

.App h3 {
  font-size: 1.6rem;
}

.App p {
  font-size: 1.4rem;
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  position: absolute;
  bottom: 0;
}
