/* .create {
  width: 90%;
  margin: 0 auto;
}
.comboContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.soundOption {
  height: 100px;
  width: 100px;
  background-color: black;
  color: goldenrod;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
